.link-box{
  display: flex;
  justify-content: space-around;
}
.contact-text{
  display: inline-flex;
  justify-content: space-around;
  height: 50px;
  width: 100%;
}


.main3-content{
  position: absolute;
  height: 76.8vh;
  width: 100%;
  top: 8vh;
  text-align: center;
  overflow: scroll;
  }