.footer-bot{
  height:  10vh;
  width: 100%;
  background: #4c4e4d;
  bottom: 0vh;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  display: inline-block
}
.githubPic{
  position: absolute;
  bottom: 10px;
  right: 0px;
}
.linkedInPic{
position: absolute;
bottom: 10px;
right: 50px;
}
