@import url("https://fonts.googleapis.com/css?family=Bree+Serif");
@import url("https://fonts.googleapis.com/css?family=Dosis|Indie+Flower");
@import url("https://fonts.googleapis.com/css?family=Julius+Sans+One");
html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; }

.response-list {
  font-family: 'Bree Serif', serif; }

.main-content {
  position: relative;
  min-height: 100vh;
  width: 100%;
  top: 8vh;
  background: url("./corrugation.png");
  text-align: center;
  overflow: hidden; }
  .main-content h1 {
    color: #4d5a49;
    font-family: 'Bree Serif', serif;
    font-size: 1.5em;
    text-shadow: -0.5px 0 goldenrod,0 1px #5c5364,1px 0 #5c5364,0 -0.5px goldenrod; }

.button-row {
  flex-wrap: wrap;
  width: 20vw;
  height: 5vh;
  justify-content: space-between;
  margin: auto;
  padding-bottom: 20px; }

.title-button {
  width: 100%;
  font-family: "Indie Flower", cursive;
  font-size: 1em;
  overflow: auto; }

.actor-button {
  width: 100%;
  font-family: "Indie Flower", cursive;
  font-size: 1em;
  overflow: auto; }

.director-button {
  width: 100%;
  font-family: "Indie Flower", cursive;
  font-size: 1em;
  overflow: auto; }

.input-row {
  flex-wrap: wrap;
  width: 20%;
  margin: auto; }

.titlebox {
  padding-left: 3px;
  margin-top: 10px;
  margin-right: 5px;
  height: 20px;
  width: 100%; }

.yearbox {
  padding-left: 3px;
  margin-top: 10px;
  margin-right: 5px;
  height: 20px;
  width: 100%; }

.directorbox {
  padding-left: 3px;
  margin-top: 10px;
  height: 20px;
  width: 100%; }

.starbox {
  padding-left: 3px;
  margin-top: 10px;
  height: 20px;
  width: 100%; }

.poster {
  width: 100%; }

.response-list {
  border: 1px solid black;
  list-style: none;
  position: relative;
  font-family: 'Bree Serif', serif;
  overflow: auto;
  -webkit-box-shadow: 7px 10px 0px 2px #1e241d;
  -moz-box-shadow: 7px 10px 0px 2px #1e241d;
  box-shadow: 7px 10px 0px 2px #1e241d; }

.response-box {
  position: absolute;
  height: 60vh;
  overflow: auto;
  width: 85%;
  margin: auto;
  margin-bottom: 10vh;
  justify-content: center;
  padding-right: 40px;
  top: 10vh;
  left: 3vh; }
  .response-box h6 {
    color: #4d5a49;
    font-family: 'Bree Serif', serif;
    font-size: 2.5em;
    text-shadow: -1px 0 #ffe2ac,0 1px #5c5364,1px 0 #5c5364,0 -1px #ffe2ac; }

@media (min-width: 700px) {
  .button-row {
    display: inline-flex;
    flex-wrap: nowrap;
    width: 32vw; }
  .title-button {
    width: 100%; }
  .actor-button {
    width: 100%; }
  .director-button {
    width: 100%;
    margin-left: 5px;
    margin-right: 5px; }
  .input-row {
    position: absolute;
    display: inline-flex;
    flex-wrap: nowrap;
    width: 60vw;
    top: 20vh;
    right: 20%; }
  .directorbox {
    border: 2px solid #4c4e4d;
    margin-left: 5px;
    margin-right: 5px;
    color: #4d5a49; }
  .titlebox {
    border: 2px solid #4c4e4d;
    color: #4d5a49; }
  .starbox {
    border: 2px solid #4c4e4d;
    padding-left: 5px;
    color: #4d5a49; } }

.icon {
  position: absolute;
  left: 1vw;
  top: -.3vh; }

.header-top {
  width: 100%;
  background: #4c4e4d;
  z-index: 9;
  position: fixed;
  display: flex;
  top: 0;
  justify-content: space-around; }
  .header-top a:link, .header-top a:visited {
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    flex-wrap: nowrap;
    height: 6vh; }
  .header-top a:hover, .header-top a:active {
    background-color: #232317;
    text-decoration: underline; }

.button-box {
  padding-left: 50vw;
  height: 10vh;
  width: 100%;
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  visibility: hidden; }

.buttons {
  cursor: pointer;
  overflow: hidden;
  font-family: 'Bungee', cursive;
  font-size: 2em; }

.top-bar {
  width: 20vw;
  left: 0; }

@media (min-width: 700px) {
  .button-box {
    visibility: visible;
    width: 50%;
    opacity: 1; } }

.footer-bot {
  height: 10vh;
  width: 100%;
  background: #4c4e4d;
  bottom: 0vh;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  display: inline-block; }

.githubPic {
  position: absolute;
  bottom: 10px;
  right: 0px; }

.linkedInPic {
  position: absolute;
  bottom: 10px;
  right: 50px; }

.movie-content {
  background: url("./corrugation.png");
  min-height: 300vh; }

.allMen {
  position: absolute;
  left: 35%;
  top: 15%;
  font-family: "Julius Sans One", sans-serif;
  font-size: 20px;
  text-shadow: -1px 0 #ffe2ac,0 1px #5c5364,1px 0 #5c5364,0 -1px #ffe2ac; }

.nameInput {
  position: absolute;
  top: 25%;
  left: 40%; }

.deathBox {
  position: absolute;
  top: 32%;
  left: 30%;
  width: 40%;
  padding-left: 50px; }
  .deathBox h3 {
    color: black;
    font-family: "Julius Sans One", sans-serif;
    font-size: 2em;
    text-shadow: -1px 0 #ffe2ac,0 1px #5c5364,1px 0 #5c5364,0 -1px #ffe2ac; }

.deaths {
  justify-content: center; }

.tweet-content {
  min-height: 90vh;
  display: block;
  overflow: auto;
  width: 100%;
  background: url("./corrugation.png");
  text-align: center; }

.tweetbox {
  display: relative;
  padding-top: 15vh;
  width: 60vw;
  margin: auto; }

.link-box {
  display: flex;
  justify-content: space-around; }

.contact-text {
  display: inline-flex;
  justify-content: space-around;
  height: 50px;
  width: 100%; }

.main3-content {
  position: absolute;
  height: 76.8vh;
  width: 100%;
  top: 8vh;
  text-align: center;
  overflow: scroll; }

.lander {
  height: 100vh;
  width: 100vw;
  background-image: url("./lazyday.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-flex; }

.landing-box {
  position: absolute;
  top: 32vh;
  display: inline-block;
  left: 7vw; }

.land-but {
  padding-left: 35vw; }

.header-box {
  width: 70vw;
  padding-left: 27vw;
  font-family: "Dosis", sans-serif;
  letter-spacing: 1.5px;
  font-size: 1.75em;
  color: whitesmoke;
  text-shadow: -1px 0 #000000,0 3px #000000,3px 0 #000000,0 -1px #000000; }

.getStart {
  align-self: center;
  font-family: "Indie Flower", cursive;
  cursor: pointer;
  background: transparent;
  transition: all .5s ease;
  color: black;
  font-weight: bold;
  text-decoration: underline;
  font-size: 2rem;
  outline: none;
  border: none;
  text-shadow: -1px 0 whitesmoke,0 3px whitesmoke,3px 0 whitesmoke,0 -1px whitesmoke; }

.getStart:before, .getStart:after {
  width: 0;
  height: 3px;
  content: " ";
  background-color: whitesmoke;
  position: absolute;
  top: 70%;
  left: 40%;
  transition: all 0.7s ease;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease; }

.getStart:after {
  top: 90%; }

.getStart:hover {
  letter-spacing: 9px;
  color: black;
  right: 20vw; }
  .getStart:hover:before, .getStart:hover:after {
    width: 29%;
    left: 29%;
    border: 2px solid black; }
  .getStart:hover:after {
    width: 29%;
    left: 29%;
    border: 2px solid black; }

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }
